.news-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style-type: none;
  }
  
  .news-list h1 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .news-list ul {
    list-style: none;
    padding: 0;
  }
  
  .banner {
    margin-bottom: 20px;
    text-align: center; /* 이미지를 가운데 정렬 */
  }
  
  .news-banner {
    width: 100%; /* 배너가 화면 전체를 차지하도록 설정 */
    max-width: 800px; /* 최대 너비를 800px로 설정 */
    height: 300px; /* 높이를 300px로 설정 */
    border-radius: 8px; /* 모서리 둥글게 */
  }
  