.news-item{
    margin: 5px;
    flex-direction: row;
    display: flex;
    gap: 15px;
}
.news-item h3{
    width: 400px;
    text-align: left;

}
.news-summary{
    padding-top: 10px;
    width: 250px;
}
.news-date{
    padding-top: 10px;
    width: 100px;
}
.news-item a{
    text-decoration: none;
    color: black;
}
